<next-page>
<action-bar text="Next Page" menu-id="next" toolbar-id="main" indicators-id="main"/>
<simple-label bind="testValues.mainLabel as text" text="Hello, this is the next page"/>
<test-comp action="onClick" text="Well Howdy"/>

    <script>
      import pageComp from 'Framework/app-core/PageComp'
      import * as activity from './next-page'
      const pc =  Object.assign({}, pageComp)
      pc.activity = activity
      export default pc
    </script>
    </next-page>
