
.flexItem {
  //width: 1cm;
  //height: 1cm;
  color: white;
  font-size: 3mm;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  font-weight: bold;
  background-color: darkorange;
}