
.testContainer {
  background-color: yellow;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin: 4px;
  position: relative;
  //height: 3.5cm;  this isn't recognized in {N} for some reason
}
.w2in {
  width: 2in;
  font-size: 1em;
  background-color: skyblue;
}
.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sanity {
  background-color: skyblue;
  color: red;
  width: 3cm;
  height: 3cm;
}

.backcss-all {
  background-color: skyblue;
  background-image: url("./assets/images/zeus.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 3in;
  height: 3in;
}
.backcss-clr {
  background-color: skyblue;
  width: 3in;
  height: 3in;
}
.backcss-tinyC {
  background-color: skyblue;
  background-image: url("./assets/images/zeus.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33% 33%;
  width: 3in;
  height: 3in;
}

.ns-android, .ns-ios {
  .backcss-tinyC {
    background-image: url("images/zeus.jpg");
  }
  .backcss-all {
    background-image: url("images/zeus.jpg");
  }
}

.textBoxCSS {
  font-family: "Champignon";
  font-size: 30pt;
  color: blue;
  background-color: lightsteelblue;
  line-height: 2em;
  font-stretch: condensed;
  width: 3in;
  height: 3in;
  align-self: center;
  border: 1px dashed orangered;
}
