
.testContainer {
  background-color: yellow;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin: 4px;
  position: relative;
  height: 1in;
}
.w2in {
  width: 2in;
  background-color: skyblue;
}
.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.wrap1 {
  display:flex;
  width: 100%;
  height: 2in;
  background-color: #f0c674;
  border: 1px solid black;
  position: relative
}
.wrap2 {
  background-color: red;
  color:white;
  width: 1in;
  height: 40pt;
  font-size:16pt;
  position: absolute;
  top: 50%;                   // valign %top-bottom, top, middle, bottom
  left:75%;                   // halign %left-right, left, center, right
  transform: translate(-75%,-50%);
}
